## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## IDE
*.rsuser
*.cache
*.ncb
*.opendb
*.opensdf
*.sdf
*.ipch
*.aps
